
    {% extends 'base.html' %}
    {% block title %}Check-Person Login{% endblock title %}
    {% block content %}

    <div class="container" style="align-items: center;">
        <div class="logincontent" align="center">
        </br></br>
            <div class="logintop">
                <h1>Login</h1>
            </div>
            </br>
            <div class="loginbottom">
                <form action="{{ url_for('login')}}" method="post" autocomplete="off">
                    <div class="msg">{{ msg }}</div>
                    <input type="text" name="username" placeholder="Enter Your Username" class="textbox" id="username" required></br>
                    <input type="password" name="password" placeholder="Enter Your Password" class="textbox" id="password" required></br></br>
                    <input type="submit" class="btn" value="Login">
                </form></br></br>              
            </div>
        </div>        
    </div>

    {% endblock content %}