
    {% extends 'base.html' %}
    {% block title %}Welcome{% endblock title %}
    {% block content %}

    <div class="container" style="align-items: center;">
        <div class="msg">{{ msg }}</div>
        <br/>
        {% if session.username %}
        <h3>Welcome {{ session.username }}!</h3>
        {% else %}
        <h3>Welcome to Check Person!</h3>
        {% endif%}
        <br/>
        <h2>Person Data</h2>
        <a href="{{url_for('person_add')}}" class="btn btn-success">Add</a>
        <table class="table table-striped">
            <thead>
              <tr>
                <th>Identify</th>
                <th>ID_card_photo_path</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Telephone Number</th>
                <th>Trip_Type</th>
                <th></th>
                <th></th>
                <!-- <th></th>  -->                
              </tr>
            </thead>
            <tbody>
              {% for person in persons %}
              <tr>
                <td>{{person.identify}}</td>
                <td>{{person.ID_card_photo_path}}</td>
                <td>{{person.firstname_th}}</td>
                <td>{{person.lastname_th}}</td>
                <td>{{person.telephone_number}}</td>
                <td>{{person.trip_type_id}}</td>
                <td><a href="{{url_for('person_view', personid=person.person_id)}}" class="btn btn-primary">View</a></td>
                <td><a href="{{url_for('person_edit', personid=person.person_id)}}" class="btn btn-warning">Edit</a></td>                
                <!-- <td><a href="{{url_for('person_delete', personid=person.person_id)}}" class="btn btn-danger">Delete</a></td> -->
              </tr> 
            {% endfor %}	  
            </tbody>
        </table>	
    </div>

    {% endblock content %}
