
    {% extends 'base.html' %}
    {% block title %}Welcome{% endblock title %}
    {% block content %}

    <div class="container" style="align-items: center;">
        <div class="msg">{{ msg }}</div>
        <br/>
        <!-- {% if session.username %}
        <h3>Welcome {{ session.username }}!</h3>
        {% else %}
        <h3>Welcome to Check Person!</h3>
        {% endif%}
        <br/> -->
        <h2>ข้อมูลผู้ใช้ (Information of User)</h2>
        <table class="table table-striped">
            <thead>
              <tr>
                <th>ชื่อผู้ใช้</th>
                <th>อีเมล</th>
                <!-- <th>Role</th>
                <th>Country</th> -->
                <th></th>
                <th></th>
                <!-- <th></th>
                <th></th> -->
              </tr>
            </thead>
            <tbody>
              {% for user in users %}
              <tr>
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
                <!-- <td>{{user.role}}</td>
                <td>{{user.country}}</td> -->
                <td><a href="{{url_for('user_view', userid=user.user_id)}}" class="btn btn-success">View</a></td>
                <td><a href="{{url_for('user_edit', userid=user.user_id)}}" class="btn btn-primary">Edit</a></td>                
                <!-- <td><a href="{{url_for('user_delete', userid=user.user_id)}}" class="btn btn-danger">Delete</a></td> -->
              </tr> 
            {% endfor %}	  
            </tbody>
        </table>	
    </div>

    {% endblock content %}
